
header{ position: sticky; background-color: #002906;}
p{color:white; text-align: center; margin-top: 30px;}
h1{color: rgb(247, 250, 250); text-align: center; padding: 10px;}
h3{color:white; text-align: center;}
ul, ol {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
th, td{ color: white;}
body{background-color: black;}
.center{
    margin :auto;
}
form {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{ width: 500px ; height: 250px;}
textarea{ width: 500px ; height: 250px;}
h3.listTitle{ margin-top: 60px;}
img.righty{ float: right; padding: 10px; width : 400; height: auto; }
p.border{border : 4px solid darkgreen; width: 49%;}