div.everything{ 
    margin-left: 40px;
    margin-right: 40px;
}
div.navbar{
    display: inline;
    margin-left: 79px;
    margin-right: 46;
    margin-top: 30px;
}
img.logo{
margin-top: 20px ;
width: 28px;
height: 28px;
}
h1.GoFig{
width: 75px;
height: 36px;

padding-left: 8.4px;

font-family: 'Campton';
font-size: 25.886px;
line-height: 30px;

color: #3D3D3D;

}

div.logo_left{
    float: left;
    display: inline-flex;
}
div.logo_right{
    float: right;
    display: inline-flex;
    
}
a.right{
    width: fit-content;
    height: 17px;
    
    font-family: 'Campton';
    font-size: 12px;
    line-height: 14px;
    padding-left: 20px;
    padding-top: 28px;

    text-decoration: none;
    
    color: #3D3D3D;
}
a.sign_in{
    padding-top: 17px;
    padding-left: 30px;
}
button.sign_in{
box-sizing: border-box;

width: 103px;
height: 36px;

border: 1px solid #031CFF;
border-radius: 100px;
}
p.sign_in{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;

text-align: center;

color: #031CFF;
}





/* Fonts */
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlack.otf);

    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlackItalic.otf);

    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBold.otf);

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBook.otf);

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBookItalic.otf);

    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBold.otf);

    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBoldItalic.otf);

    font-weight: bolder;
    font-style: italic;
    
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLight.otf);

    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLightItalic.otf);

    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLight.otf);

    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLightItalic.otf);

    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMedium.otf);

    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMediumItalic.otf);

    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBold.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThin.otf);

    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThinItalic.otf);

    font-weight: lighter;
    font-style: italic;
}