
header{ position: sticky; background-color: #002906;}
p{color:white; text-align: center; margin-top: 30px;}
h1{color: teal; text-align: center; padding: 10px;}
h3{color:rgb(55, 74, 159); text-align: center;}
ul, ol {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
th, td{ color: white;}
body{background-color: black;}
.center{
    margin :auto;
}
form {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{ width: 500px ; height: 250px;}
h1.cyan{color: rgb(45, 189, 189);}
h3.listTitle{ margin-top: 60px;}
img.righty{ float: right; padding: 10px; width : 49%; height: auto; max-width: 500px;}
p.border{border : 4px solid darkgreen; width: 49%;}

div.navbar{ position:sticky;
top: 0px; background-color: darkgreen;}

header{
    margin: 0px;
    padding: 0%;
}
